/************************************************************************************
smaller than 1920
**************************************************************************************/
@media only screen and (min-width: 1920px) {

	#menu {
		background: #EEEEEE;
	}

}

/************************************************************************************
smaller than 1920
**************************************************************************************/
@media only screen and (max-width: 1920px) {

	#menu {
		background: #EEEEEE;
	}


}
/************************************************************************************
smaller than 1366x768
**************************************************************************************/
@media only screen and (max-width: 1366px) {

	#menu {
		background: #EEEEEE;
	}


}

/************************************************************************************
smaller than 1280px
*************************************************************************************/

@media only screen and (max-width: 1280px) {

	#menu {
		background: #EEEEEE;
	}

}

/************************************************************************************
smaller than 1024px
*************************************************************************************/

@media only screen and (max-width: 1024px) {



}

/************************************************************************************
smaller than 1280px
*************************************************************************************/

@media only screen and (max-width: 1280px) {



}



/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {


	 
}

/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {




}


/************************************************************************************
 Navigation: smaller than 768
*************************************************************************************/

@media screen and (max-width: 768px) {





}


/************************************************************************************
 Navigation: smaller than 640
*************************************************************************************/

@media screen and (max-width: 640px) {




}

/************************************************************************************
 Navigation: smaller than 360
*************************************************************************************/

@media screen and (max-width: 360px) {



}


/************************************************************************************
 Navigation: smaller than 320
*************************************************************************************/

@media screen and (max-width: 320px) {




}
